@media (max-width: 100px)
  {
a {
  font-size: 10px;
    }
}
ul {
  list-style: none;
}

/* This sections styles the navigation bar. */
a:link {
  text-decoration: none;
  color: #E7dfd5;
}
a:hover {
  color: black;
  text-decoration: underline;
}
a:visited {
  color: #E7dfd5;
}
#navbar {
  display: flex;
  position: fixed;
  top: 0px;
}
#nav-layout {
  background: #204051;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50px;
  border-bottom: 5px solid;
  border-radius: 25px;
  border-color: #3b6978;
  position: fixed;
  width: 96vw;
  top: 0;
  right: 0;
}

#nav-layout li {
  font-size: 1.5rem;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 5px 20px 5px 20px;
  align-self: center;
  font-weight: 900;
  font-color: #204051;
}

#nav-git {
  align-self: center;
  height: 90%;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  }

.nav-links {
  color: #84a9ac;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 32px;
}

#welcome-section {
  background-color:;
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  padding-top: 10%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #3b6978;
}

p {
  color: #E7dfd5;
}

section {
  color: #84a9ac;
}

#top-section {
  height: 150px;
}

img.resize {
  max-width: 400px;
  width: auto;
  height: auto;
  float: left;
}
